<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
</head>
<body>
<p th:text="${book.getId()} + '. ' + ${book.getName()}"></p>
<br/>
<div th:if="${book.getAuthor() != null}">
    <p th:text="${book.getAuthor().getSurname} + ' ' + ${book.getAuthor().getName} + ' ' + ${book.getAuthor().getLastName} "></p>
</div>
<p th:if="${book.getAuthor() == null}">not Author</p>
<hr/>
<a th:href="@{/books/delete{id}(id=${book.getId()})}">Delete</a>
<br/>
<a th:href="@{/books/edit/{id}(id=${book.getId()})}">Edit</a>
</body>
</html>
